# OLA Ride-Sharing Analytics - Requirements

## Core Dependencies
streamlit
pandas
numpy
plotly
psycopg2-binary
sqlalchemy
tqdm
jupyter
ipykernel
matplotlib
scikit-learn
scipy





